#part2{
	text-align: center;
	display: block;
	top:100%;
}
.inline{
	text-align: left;
	display: inline-block;
	position: absolute;
	padding-left: 30%;
}
.inline2{
	text-align: left;
	display: inline-block;
	position: absolute;
	padding-left: 30%;
}
.result{
	background-color: #FFF;
	width: 450px;
}
body{
	top:20%;
	background-image: url("../Image/backimage.jpg");
	}

h1{
	/* background:linear-gradient(to top right,red 0%,white 50%,blue 100%);
	border-radius: 50px 50px; */
	text-align: center;
}
h1 img{
	width: 100%;
}
h2{
	padding-left:70px;
	font-family: "MS UI Gothic"
	font-size: 30px;
}
p{
	font-family: "MS PGothic"
}

table{
  width: 65%;
  border-collapse: collapse;
  border-spacing: 0;
  text-decoration: none;
  margin-left:50px;



  /* height:100%; */
}

table tr:nth-child(odd){
  width: 65%;
  /* border-collapse: collapse;
  border-spacing: 0; */
	background-color: #00ff7f;
	margin-left:50px;

}


table th{
	width: 100px;
}
table th,table td{
  padding: 10px 0;
  text-align: center;


}

table tr:nth-child(even){
  background-color: #fff;
}
#part1{
	 position: fixed;            /* ヘッダーの固定 */
    top: 40%;                   /* 位置(上0px) */
    left: 70%;                  /* 位置(右0px) */
    width: 300px;                /* 横幅100%　*/
    height: auto;              /* 縦幅140px */
    background: #afeeee;
	padding-right: 10px;
	padding-left:10px;
	padding-bottom: 10px;
}
a{
	text-decoration: none;
	color:#000;
}
a:hover{
	color:#f08080;
	text-decoration: none;
}
.thread{
	position: fixed;            /* ヘッダーの固定 */
   top: 85%;                   /* 位置(上0px) */
   left: 70%;                  /* 位置(右0px) */
   width: 50px;                /* 横幅100%　*/
   height: 30px;              /* 縦幅140px */
   padding-right: 10px;
   padding-left:10px;
}
textarea{
	resize: none;
	rows 10;
}
